<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjD8u_veUXIXgnR6wtCApzFBKj3AEUWxM</string>
	<key>GCM_SENDER_ID</key>
	<string>834680900332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgou1055.UniCo</string>
	<key>PROJECT_ID</key>
	<string>unico-e30e8</string>
	<key>STORAGE_BUCKET</key>
	<string>unico-e30e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834680900332:ios:d2962810a82f62a481b3c9</string>
</dict>
</plist>